body {
  background-color: #d0e7ff;
  font-family: 'Helvetica', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20dp;
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.dish-card {
  background-color: #ffffff;
  border: 2dp solid #9ad1ff;
  border-radius: 10px;
  box-shadow: 0 0 15dp 5dp rgba(138, 180, 248, 0.3);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  width: 200dp;
  height: 200dp;
  margin: 7%;
}


.dish-card:hover {
  transform: scale(1.05);
}

.dish-photo {
  width: 100%;
  border-radius: 10
  ;
  margin-bottom: 10dp;
}

.restaurant-name {
  color: #0056b3;
  margin: 0;
  font-size: 1.2em;
}

.dish-name {
  color: #0066cc;
  font-weight: bold;
  margin: 5dp 0;
}

.dish-price {
  color: #0099ff;
  font-size: 1.1em;
}

.dish-photo {
  width: 100dp; 
  height: 100dp; 
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
