/* CSS for maintaining 3 items per row and responsive text */
body {
  background-color: #d0e7ff;
  font-family: 'Helvetica', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.dish-card {
  background-color: #ffffff;
  border: 2px solid #9ad1ff;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(138, 180, 248, 0.3);
  padding: 10px;
  text-align: start center;
  
  transition: transform 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dish-card:hover {
  transform: scale(1.05);
}



@media (max-width: 768px) {
  #app {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .dish-card {
    padding: 5px;
  }

}
