body {
  background-color: #d0e7ff;
  font-family: 'Helvetica', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
}

.dish-card {
  background-color: #ffffff;
  border: 2px solid #9ad1ff;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px rgba(138, 180, 248, 0.3);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  height: 200px;
  width: 200px;
}

.dish-card:hover {
  transform: scale(1.05);
}

.dish-photo {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.restaurant-name {
  color: #0056b3;
  margin: 0;
  font-size: 1.2em;
}

.dish-name {
  color: #0066cc;
  font-weight: bold;
  margin: 5px 0;
}

.dish-price {
  color: #0099ff;
  font-size: 1.1em;
}

.dish-photo {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  object-position: 50% 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
